version: '3'
services:
  frontend:
    build:
      context: ./frontend
    volumes:
      - app:/app
  nginx:
    image: nginx:latest
    ports:
      - 15465:80 # host:container
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - app:/app
    depends_on:
      - frontend
volumes:
  app: